<h2 style="margin-bottom: 50px;"><%= name %></h2>
<% for(var key in homepage) {%>
	<section id="<%= key %>" class="exercise" style="margin-bottom: 50px;">
		<h2><%- homepage[key].name %></h2>
		<p><%- homepage[key].description %></p>
	</section>
<% } %>
